.container {
  text-align: center;
  width: fit-content;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px blue solid;
}
.exampleContainer {
  border: 2px red solid;
}

.testContainer {
  width: fit-content;
}

.volume_slider_icon {
  height: 10px;
  width: 100%;
  position: relative;
  background-color: #ddd;
}
.volume_slider {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: red;
}
.hiContainer {
  border: 2px yellow solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.hiWord {
  background-color: black;
  color: white;
  width: 20%;
  height: fit-content;
  padding: 10px;
}
